<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gameInfo">
      <h2 data-cy="gameInfoDetailsHeading"><span jhiTranslate="binhSapXamApp.gameInfo.detail.title">Game Info</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gameInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.gNo">G No</span></dt>
        <dd>
          <span>{{ gameInfo.gNo }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.gDatetime">G Datetime</span></dt>
        <dd>
          <span>{{ gameInfo.gDatetime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.gDesc">G Desc</span></dt>
        <dd>
          <span>{{ gameInfo.gDesc }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.player1">Player 1</span></dt>
        <dd>
          <span>{{ gameInfo.player1 }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.player2">Player 2</span></dt>
        <dd>
          <span>{{ gameInfo.player2 }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.player3">Player 3</span></dt>
        <dd>
          <span>{{ gameInfo.player3 }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.player4">Player 4</span></dt>
        <dd>
          <span>{{ gameInfo.player4 }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.createdBy">Created By</span></dt>
        <dd>
          <span>{{ gameInfo.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="binhSapXamApp.gameInfo.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ gameInfo.createdDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/game-info', gameInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
