<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-game-score-heading" data-cy="GameScoreCreateUpdateHeading" jhiTranslate="binhSapXamApp.gameScore.home.createOrEditLabel">
        Create or edit a Game Score
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore1" for="field_playerScore1">Player Score 1</label>
          <input
            type="number"
            class="form-control"
            name="playerScore1"
            id="field_playerScore1"
            data-cy="playerScore1"
            formControlName="playerScore1"
          />
          <div
            *ngIf="editForm.get('playerScore1')!.invalid && (editForm.get('playerScore1')!.dirty || editForm.get('playerScore1')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore1')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: -50 }"
            >
              This field should be at least -50.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore1')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be more than 50.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('playerScore1')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore2" for="field_playerScore2">Player Score 2</label>
          <input
            type="number"
            class="form-control"
            name="playerScore2"
            id="field_playerScore2"
            data-cy="playerScore2"
            formControlName="playerScore2"
          />
          <div
            *ngIf="editForm.get('playerScore2')!.invalid && (editForm.get('playerScore2')!.dirty || editForm.get('playerScore2')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore2')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 2 }"
            >
              This field should be at least 2.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore2')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 3 }"
            >
              This field cannot be more than 3.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('playerScore2')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore3" for="field_playerScore3">Player Score 3</label>
          <input
            type="number"
            class="form-control"
            name="playerScore3"
            id="field_playerScore3"
            data-cy="playerScore3"
            formControlName="playerScore3"
          />
          <div
            *ngIf="editForm.get('playerScore3')!.invalid && (editForm.get('playerScore3')!.dirty || editForm.get('playerScore3')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore3')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 2 }"
            >
              This field should be at least 2.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore3')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 3 }"
            >
              This field cannot be more than 3.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('playerScore3')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore4" for="field_playerScore4">Player Score 4</label>
          <input
            type="number"
            class="form-control"
            name="playerScore4"
            id="field_playerScore4"
            data-cy="playerScore4"
            formControlName="playerScore4"
          />
          <div
            *ngIf="editForm.get('playerScore4')!.invalid && (editForm.get('playerScore4')!.dirty || editForm.get('playerScore4')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore4')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 2 }"
            >
              This field should be at least 2.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('playerScore4')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 3 }"
            >
              This field cannot be more than 3.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('playerScore4')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.gameInfo" for="field_gameInfo">Game Info</label>
          <select
            class="form-control"
            id="field_gameInfo"
            data-cy="gameInfo"
            name="gameInfo"
            formControlName="gameInfo"
            [compareWith]="compareGameInfo"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="gameInfoOption" *ngFor="let gameInfoOption of gameInfosSharedCollection">{{ gameInfoOption.gDesc }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
