<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-game-score-heading" data-cy="GameScoreCreateUpdateHeading" jhiTranslate="binhSapXamApp.gameScore.home.createOrEditLabel">
        Create or edit a Game Score
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.gNo" for="field_gNo">G No</label>
          <input type="number" class="form-control" name="gNo" id="field_gNo" data-cy="gNo" formControlName="gNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore1" for="field_playerScore1">Player Score 1</label>
          <input
            type="number"
            class="form-control"
            name="playerScore1"
            id="field_playerScore1"
            data-cy="playerScore1"
            formControlName="playerScore1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore2" for="field_playerScore2">Player Score 2</label>
          <input
            type="number"
            class="form-control"
            name="playerScore2"
            id="field_playerScore2"
            data-cy="playerScore2"
            formControlName="playerScore2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore3" for="field_playerScore3">Player Score 3</label>
          <input
            type="number"
            class="form-control"
            name="playerScore3"
            id="field_playerScore3"
            data-cy="playerScore3"
            formControlName="playerScore3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.playerScore4" for="field_playerScore4">Player Score 4</label>
          <input
            type="number"
            class="form-control"
            name="playerScore4"
            id="field_playerScore4"
            data-cy="playerScore4"
            formControlName="playerScore4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameScore.gameInfo" for="field_gameInfo">Game Info</label>
          <select
            class="form-control"
            id="field_gameInfo"
            data-cy="gameInfo"
            name="gameInfo"
            formControlName="gameInfo"
            [compareWith]="compareGameInfo"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="gameInfoOption" *ngFor="let gameInfoOption of gameInfosSharedCollection">{{ gameInfoOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
