<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-game-info-heading" data-cy="GameInfoCreateUpdateHeading" jhiTranslate="binhSapXamApp.gameInfo.home.createOrEditLabel">
        Create or edit a Game Info
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.gNo" for="field_gNo">G No</label>
          <input type="number" class="form-control" name="gNo" id="field_gNo" data-cy="gNo" formControlName="gNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.gDatetime" for="field_gDatetime">G Datetime</label>
          <div class="d-flex">
            <input
              id="field_gDatetime"
              data-cy="gDatetime"
              type="datetime-local"
              class="form-control"
              name="gDatetime"
              formControlName="gDatetime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.gDesc" for="field_gDesc">G Desc</label>
          <input type="text" class="form-control" name="gDesc" id="field_gDesc" data-cy="gDesc" formControlName="gDesc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.player1" for="field_player1">Player 1</label>
          <input type="text" class="form-control" name="player1" id="field_player1" data-cy="player1" formControlName="player1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.player2" for="field_player2">Player 2</label>
          <input type="text" class="form-control" name="player2" id="field_player2" data-cy="player2" formControlName="player2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.player3" for="field_player3">Player 3</label>
          <input type="text" class="form-control" name="player3" id="field_player3" data-cy="player3" formControlName="player3" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.player4" for="field_player4">Player 4</label>
          <input type="text" class="form-control" name="player4" id="field_player4" data-cy="player4" formControlName="player4" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="binhSapXamApp.gameInfo.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
