<div>
  <h2 id="page-heading" data-cy="GameScoreHeading">
    <span jhiTranslate="binhSapXamApp.gameScore.home.title">Game Scores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="binhSapXamApp.gameScore.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-game-score"
        [routerLink]="['/game-score/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="binhSapXamApp.gameScore.home.createLabel"> Create a new Game Score </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gameScores?.length === 0">
    <span jhiTranslate="binhSapXamApp.gameScore.home.notFound">No Game Scores found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="gameScores && gameScores.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playerScore1">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.playerScore1">Player Score 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playerScore2">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.playerScore2">Player Score 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playerScore3">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.playerScore3">Player Score 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playerScore4">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.playerScore4">Player Score 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gameInfo.gDesc">
            <div class="d-flex">
              <span jhiTranslate="binhSapXamApp.gameScore.gameInfo">Game Info</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let gameScore of gameScores; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/game-score', gameScore.id, 'view']">{{ gameScore.id }}</a>
          </td>
          <td>{{ gameScore.playerScore1 }}</td>
          <td>{{ gameScore.playerScore2 }}</td>
          <td>{{ gameScore.playerScore3 }}</td>
          <td>{{ gameScore.playerScore4 }}</td>
          <td>{{ gameScore.createdDate | formatMediumDatetime }}</td>
          <td>
            {{ gameScore.user?.login }}
          </td>
          <td>
            <div *ngIf="gameScore.gameInfo">
              <a [routerLink]="['/game-info', gameScore.gameInfo.id, 'view']">{{ gameScore.gameInfo.gDesc }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/game-score', gameScore.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/game-score', gameScore.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gameScore)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
